<p>
  <span id="show-stats">
    <%= "#{project.footage_finished || 0} ft. of #{project.footage} ft. Released #{project.percent_in_shop}% - #{project.no_of_drawings_ready} Drawings Ready - #{project.no_of_drawings_question}  Drawings in Question" %>
  </span>
</p>
