<h2>Tuttle Engineering</h2>

<%= link_to "Add project", new_project_path %>
<br>
<br>
<% @projects.each do |project| %>
  <h4>
    <%= link_to "(#{project.number}) #{project.name}", project, class: "project-list-name" %>
  </h4>
  <%= render partial: "stats", locals: {project: project}  %>
<% end %>
