// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  font-family: Rochester;
}

h3 {
  font-family: Rochester;
}

h4 {
  font-family: Rochester;
}


.notes {
  width: 300px;
}

th {
  width: 160px;
  height: 30px;
  text-align: center;
  font-family: Rochester;
  font-size: 20px;
}

.table-column-delete {
  width: 140px;
  text-align: center;
  a {
    font-size: 10px;
  }
}

a {
  text-decoration: none;
}

.question {
  color: red;
  a {
    color: red;
  }
}

.approval {
  color: blue;
  a {
    color: blue;
  }
}

.ready {
  color: green;
  a {
    color: green;
  }
}

.finished {
  color: #C8C8C8;
  a {
    color: #C8C8C8;
  }
}

h2 {
  height: 30px;
}

h4 {
  height: 24px;
}

span {
  font-size: 12px;
  color: #858585;
  height: 16px;
}

.show-stats {
  font-size: 24px;
}

.error {
  color: red;
  height: 50px;
  font-size: 16px;
}
