// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-column { 
  width: 160px;
  height: 30px;
  text-align: center;
  font-size: 16px;
}

.table-column-delete {
  width: 160px;
  text-align: center;
  a {
    font-size: 10px;
  }
}

.question {
  color: red;
}

.ready {
  color: green;
}

.finished {
  color: #C8C8C8;
}

h4 {
  height: 40px;
}

span {
  font-size: 16px;
  color: #858585;
}


